@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth !important;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#344e64] text-[White] tracking-wide 
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl 
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer ml-10 text-sm uppercase hover:border-b text-white
  }

  button {
    @apply shadow-xl shadow-cyan-400 rounded-xl uppercase bg-gradient-to-r from-indigo-300 to-cyan-300 text-white
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(-10px);
    }
  }
  
  /* Applying the custom animation to your element */
  .animate-bounce-custom {
    animation: bounce 5s infinite;
  }
}